.navbar {
    background-color: #FFCF4B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.75rem 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 16px 16px;
}

.navbar-logo img {
    height: 3rem;
    width: auto;
}

.navbar-links {
    display: flex;
    gap: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.navbar-links a{
    color: black;
    text-decoration: none;
}

.navbar-links a:visited {
    color: black;
}

.navbar-links a.active {
    color:chocolate;
    font-weight: bold;
    transform: scale(1.1);
}

.navbar-text {
    font-size: large;
    font-weight: bold;
}

.navbar-text:hover {
    transform: scale(1.15);
    transition: all 0.2s ease;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.settings-icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.settings-icon:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.abort-btn {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.abort-btn:hover {
    background-color: crimson;
    transform: scale(1.05);
}
